@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

.v_community{
    width: 100%;  
    background: url(../img/visual.jpg) 50% 60% no-repeat!important;
    height: 35vh;
    position: relative;
    >h1{
        position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        font-size: 50px; color: #fff; letter-spacing: 4px;
    }
}

.faq{
    width: 100%;
    padding: 70px 0;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .faq_txt{
            position: absolute;
            top: 15px; left: 0px;
        }

        .faq_search{
            position: relative;
            padding-top: 30px;
            text-align: center;
            width: 40%;
            margin: 0 auto;

            input{
                width: 100%;
                border: 0;
                border-bottom: 2px solid #C28D72;
                outline: 0;
                font: normal 15px/1 'Georama';
                color: #111;
                box-sizing: border-box;
                margin-left: -10px;
                padding: 10px;
            }

            button{
                border: 0;
                margin-left: -30px;
                background-color: #fff;

                i{
                    font-size: 18px;
                    color: #C28D72;
                }
            }
        }

        .wrap{
            width: 100%;
            position: relative;
            padding-top: 100px;

            &::after{
                content: ''; display: block; clear: both;
            }

            article{
                float: left;
                width: 23%; height: 150px; margin-right: 2%; margin-bottom: 2%;
                background-color: #bbb;
                padding: 20px; color: #fff;

                h3{
                    margin-bottom: 20px;
                    letter-spacing: 3px;
                }

                >p{ 
                    font: 17px/1.3 'Georama';
                }

                &:hover{
                    background-color: #C28D72;
                }
            }
        }
    }
}

.community{
    width: 100%;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .menu{
            width: 100%;
            &::after{
                content: ''; display: block; clear: both;
            }

            ul{
                text-align: center;
                cursor: pointer;
                li{
                    border: 1px solid #aaa;
                    float: left;
                    width: 33%; height: 50px;
                    font: 20px/50px 'Georama';
                    letter-spacing: 1px;

                    &:first-child{
                        background-color: #dda485;
                        border-color: #dda485;
                        color: #fff;
                    }

                    &:hover{
                        background-color: #dda485;
                        border-color: #dda485;
                        color: #fff;

                    }
                }
            }
        }
        .table{
            width: 100%;
            padding-top: 60px;
            table{
                width: 100%;
                border-collapse: collapse;

                th{
                    padding: 15px;
                    color: #111;
                    font: normal 16px/1 'Georama';
                    border-top: 2px solid #111;
                    border-bottom: 1px solid #aaa;

                    &:nth-of-type(1){
                        width: auto;
                    }

                    &:nth-of-type(2){
                        width: 20%;
                    }
                    
                }

                td{
                    padding: 15px;
                    border-bottom: 1px solid #aaa;
                    font: normal 13px/1 'Georama';
                    color: #111;
                    text-decoration: none;

                    a{
                        font-size: 17px;
                        color: #111;
                        font-family: 'Georama';
                    }

                    &:nth-of-type(2){
                        text-align: center;
                    }
                    
                    
                }

                & a:hover{
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
            

            .pagination{
                padding-top: 30px;
                text-align: center;
                width: 510px;
                margin: 0 auto;

                &::after{
                    content: ''; display: block; clear: both;
                }

                .prev_double{
                    float: left;
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: #111;
                    border: 1px solid #111;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 5px;
                }

                .prev{
                    float: left;
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: #111;
                    border: 1px solid #111;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 10px;
                }

                .next{
                    float: left;
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: #111;
                    border: 1px solid #111;
                    text-align: center;
                    line-height: 30px;
                    margin-left: 10px;
                }

                .next_double{
                    float: left;
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: #111;
                    border: 1px solid #111;
                    text-align: center;
                    line-height: 30px;
                    margin-left: 5px;
                }

                .numbers{
                    float: left;
                    text-align: center;
                    font-size: 0;

                    a{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        font: 13px/30px 'Georama';
                        color: #111;
                        text-align: center;
                        margin: 0 3px;

                        &:nth-of-type(1){
                            font-weight: bold;
                            text-decoration: underline;
                        }

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .search{
            text-align: center;
            padding-top: 20px;
            text-align: center;
            width: 510px;
            margin: 0 auto;

            &::placeholder{
                color: #efefef;
            }

            input{
                width: 100%;
                border: 0;
                border-bottom: 2px solid #111;
                outline: 0;
                font: normal 15px/1 'Georama';
                color: #111;
                padding: 7px 0;
                box-sizing: border-box;
                margin-left: -10px;
            }

            button{
                border: 0;
                background: #fff;
                margin-left: -30px;

                i{
                    color: #111;
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    
    .faq{
        padding: 30px;
        .inner{
            width: 100%;
    
            .faq_search{
                padding-top: 20px;
            }
    
            .wrap{
                padding-top: 50px;
                article{
                    width: 48%; height: 130px;
                    padding: 10px;
    
                    h3{
                        margin-bottom: 13px;
                    }
                }
            }
        }
    }
    
    .community{
        padding: 0 30px;
        .inner{
            width: 100%;
            .table{
                width: 100%;
                .pagination{
                    width: 410px;

                    .numbers a{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .search{
                width: 410px;
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    .faq{
        padding: 30px;
        .inner{
            width: 100%;
    
            .faq_search{
                padding-top: 20px;
            }
    
            .wrap{
                padding-top: 50px;
                article{
                    width: 48%; height: 130px;
                    padding: 10px;
    
                    h3{
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .community{
        padding: 0 30px;
        .inner{
            width: 100%;
            .menu{
                ul{
                    li{
                        font-size: 15px;
                    }
                }
            }
            .table{
                width: 100%;

                th{
                    &:nth-child(2){
                        display: none;
                    }
                }

                td{
                    &:nth-child(2){
                        display: none;
                    }
                }

                .pagination{
                    width: 100%;

                    .numbers a{
                        width: 20px;
                        height: 20px;

                        &:nth-child(n+6){
                            display: none;
                        }
                    }
                }
            }
            .search{
                width: 100%;
            }
        }
    }
}