@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

.contact {
    padding-bottom: 200px;

    .inner {
        width: 1180px;

        .left {
            float: left;
            width: 30%;
            transition: all 0.5s;

            ::after {
                content: '';
                display: block;
                clear: both;
            }

            >a {
                display: block;
                font: 30px/1 'Scheherazade New';
                text-align: left;
                margin-left: 60px;
                margin-bottom: 20px;
                color: #e7dcdc;

                &:nth-child(1) {
                    color: #63697988 !important;
                }

                &:nth-child(2) {
                    color: #63697988 !important;
                }

                &:nth-child(3) {
                    color: #efefef;
                }

                &:hover {
                    color: #db6b6b !important;
                    transition: all 0.5s !important;
                }
            }

        }

        .right {
            float: right;
            width: 60%;
            margin-top: -35px;

            .wrap {
                width: 100%;

                .form_group {
                    position: relative;
                    padding: 25px 100px 0;
                    margin-top: 10px;
                    width: 100%;

                    .form_field {
                        font-family: 'Scheherazade New';
                        width: 100%;
                        border: 0;
                        border-bottom: 2px solid #efefef;
                        outline: 0;
                        font-size: 1.3rem;
                        color: #efefef;
                        padding: 7px 0;
                        background: transparent;
                        transition: border-color 0.2s;

                        &::placeholder {
                            color: transparent;
                        }

                        &:placeholder-shown ~ .form_label{
                            font-size: 25px;
                            cursor: text;
                            top: 20px;
                            font-family: 'Scheherazade New';
                        }

                        &:focus {
                            ~.form_label {
                                position: absolute;
                                top: 0;
                                display: block;
                                transition: 0.2s;
                                font-size: 20px;
                                color: #db6b6b;
                                font-weight: 700;
                            }

                            padding-bottom: 6px;
                            font-weight: 700;
                            border-width: 3px;
                            border-image: linear-gradient(to right, #db6b6b, #db6b6b);
                            border-image-slice: 1;
                        }

                        &:required, &:invalid {
                            box-shadow: none;
                        }
                    }

                    .form_label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 20px;
                        color: #efefef;
                        font-family: 'Scheherazade New';
                    }

                    .submit{
                        position: relative;
                        padding: 20px 219px;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        outline: none;
                        font-size: 28px;
                        color: #efefef;
                        font-family: 'Scheherazade New';

                        &::after, &::before{
                            content: '';
                            display: block;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #efefef;
                            transition: all 0.3s ease;
                        }

                        &:hover{
                            color: #db6b6b;
                            &::before{
                                top: 0;
                                transform: scale(1);
                                background-color: #db6b6b;
                            }

                            &::after{
                                transform: scale(1);
                                background-color: #db6b6b;
                            }
                        }


                    }
                }
                



            }
        }
    }
}