@charset "utf-8";


.gallery {
    padding-top: 50px;
    .inner {
        width: 1180px;
        position: relative;

        .gallery_txtbox {
            text-align: center;
            padding-bottom: 80px;
            animation: fadeIn 2s forwards;

            h2 {
                font: bold 70px/1 'Georama';
                margin-bottom: 50px;
            }

            p {
                width: 40%;
                margin: 0 auto;
                font: 20px/1.4 'Georama';
            }
        }

        #searchBox{
            margin: 0 auto;
            text-align: right;
            padding-bottom: 20px;

            .search_input {
                background: none;
                border: none;
                outline: none;
                width: 100px;
                position: relative;
                line-height: 18px;
                margin-right: 7px;
                font: 15px/1 'Georama';
                transition: all .6s ease;
                cursor: pointer;
                color: #C28D72;
                border-bottom: 1px solid #C28D72;
            }

            .search_btn{
                background: none;
                border: none;
                outline: none;
                font-size: 20px;
                color: #C28D72;
            }


        }

        //로딩바 이미지모양처리
        .loading {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 400px;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.5s;

            //off시 안보이게 처리
            &.off {
                opacity: 0;
            }
        }

        #gallery {
            width: 100%;
            min-height: 500px;
            position: relative;

            //디폴트로 이미지 목록 안보이게 처리
            ul {
                width: 100%;
                transition: 0.5s;
                opacity: 0;

                //on이 붙으면 보이게 처리
                &.on {
                    opacity: 1;
                }

                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }

                li {
                    width: calc((100%-80px)/3);
                    float: left;
                    padding: 50px;


                    >div {
                        width: 100%;

                        a {
                            display: block;

                            .thumb {
                                width: 100%;
                                height: 450px;
                                margin-bottom: 10px;
                                object-fit: cover;
                            }
                        }

                        >p{
                            font: 13px/1 'Georama';
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }

                        >h3{
                            font: 30px/1.3 'Georama';
                            font-style: italic;
                            margin-bottom: 20px;
                            height: 80px;
                        }

                        .profile {
                            float: left;
                            width: 50%;
                            border-top: 1px solid #000;
                            border-right: 1px solid #000;
                            border-bottom: 2px solid #000;
                            padding: 5px;

                            >span{
                                font-size: 13px;
                            }
                        }

                        .location{
                            float: left;
                            width: 50%;
                            border-top: 1px solid #000;
                            border-bottom: 2px solid #000;
                            padding: 5px;

                            >span{
                                font-size: 13px;
                            }

                        }

                    }
                }
            }
        }
    }
}

.pop{
    width:100%; height:100vh; 
    background:rgba(0,0,0,0.8);
    position:fixed; top:0; left:0;  
    padding:100px; box-sizing:border-box; 

    img{
        width:100%; height:100%; object-fit:cover; 
    }
    span{
        font:bold 14px/1 'Teko'; color:#fff; letter-spacing: 2px;
        position:absolute; top:20px; right:20px; 
        cursor:pointer; 
    }

}

@media screen and (max-width:$tablet) {
    .gallery {
        .inner {
            width: 100%;
    
            .gallery_txtbox {
                text-align: center;
                padding-bottom: 80px;
    
                p {
                    width: 80%;
                    margin: 0 auto;
                    font-size: 18px;
                }
            }
    
            #searchBox{
                text-align: center;
            }
    
            #gallery {
                ul {
                    li{
                        width: calc((100%-80px)/2);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    .gallery {
        .inner {
            .gallery_txtbox {
                h2{
                    font-size: 50px;
                }
                p {
                    font-size: 14px;
                }
            }
    
            #searchBox{
                text-align: center;
                i{
                    font-size: 15px;
                }
            }
    
            #gallery {
                ul {
                    li{
                        width: 100%;
                    }
                }
            }
        }
    }
}