@charset "utf-8";

.join{
    width: 100%;
    padding-top: 50px;
    .inner{
        width: 1180px;
        position: relative;
        margin: 0 auto;
        h2{
            font: 80px/1 'Georama';
            margin-bottom: 80px;
            letter-spacing: 7px;
        }

        fieldset{
            border: none;
            h3{
                font: 20px/1 'Georama';
                margin-bottom: 20px;
            }
    
            #terms{
                width: 100%;
                height: 200px;
                resize: none;
                padding: 10px 20px;
                box-sizing: border-box;
                margin-bottom: 10px;
                font: 15px/1.4 'Georama';
            }
    
            .agreement{
                margin-bottom: 70px;
    
                label[for="agree"]{
                    font-size: 15px;
                }
            }
    
            table{
                width: 100%;
                border-top: 2px solid #111;
                border-bottom: 2px solid #111;
                border-collapse: collapse;
                margin-bottom: 120px;
                font: 14px/1 'Georama';
    
                th{
                    width: 15%;
                    text-align: left;
                    font: bold 14px/1 'Georama';
                    border-right: 1px solid #ccc;
                    padding: 20px 0;
                }
    
                td{
                    border-bottom: 1px solid #ccc;
                    padding: 20px 30px;
                }   
                
                &:last-child{
                    border-bottom: 2px solid #ccc;
                }

                #address{
                    width: 130px;
                }

                #address_btn{
                    font: 16px/1 'Georama';
                    border: 1px solid #111;
                    padding: 5px 15px;
                    cursor: pointer;	
                    transition: all 0.4s;
                    background-color: #fff;

                    &:hover{
                        color: #fff;
                        background-color: #111;
                    }
                }

                #address3{
                    margin-top: 10px;
                }
                
    
                input[type=text], input[type=password]{
                    width: 30%;
                    height: 30px;
                    border: 1px solid #aaa;
                    background-color: #fff;
                    padding-left: 10px;
                    margin-right: 10px;
                    transition: all 0.4s;
                    color: #111;

                    &:focus{
                        background-color: #efefef;
                    }

                    &::placeholder{
                        opacity: 0;
                    }
                }
    
                input[type=checkbox], input[type=radio]{
                    margin-right: 10px;
                    margin-top: 10px;
                }
    
                label{
                    margin-right: 30px;
                }
    
                select{
                    width: 20%;
                    height: 30px;
                    border: 1px solid #bbb;
                    background-color: #eeffff;
                    padding-left: 20px;
                }
    
                #comments{
                    width: 80%;
                    height: 100px;
                    resize: none;
                    border: 1px solid #aaa;
                    background-color: #fff;
                    padding: 20px;
                    box-sizing: border-box;

                    &::placeholder{
                        color: #aaa;
                    }
                }
    
                .hobbyTxt, .genderTxt{
                    font: 12px/1 'Georama';
                    color: #efefef;
                    margin-top: 10px;
                    display: none;
                }
                
            }
        }

        .btn_area{
            width: 100%;
            margin: 0 auto;
            text-align: center;

            input[type=submit], input[type=reset]{
                display: inline-block;
                width: 150px;
                height: 40px;
                border: none;
                background-color: #fff;
                font: bold 14px/40px 'Georama';
                color: #111; 
                margin: 0 10px;
                cursor: pointer;
                border: 1px solid #aaa;
                transition: all 0.4s;

                &:hover{
                    color: #fff;
                    background: #111;
                }
            }
        }
    }
}

/*tablet --------------------------------------------------*/
@media screen and (max-width:$tablet) {
    .join{
        padding: 30px;
        .inner{
            width: 100%;

            fieldset{
                table{
                    font-size: 13px;
        
                    th{
                        font: bold 14px/1.4 'Georama';
                    }
        
                    td{
                        padding: 10px;

                        label{
                            display: none;
                        }
                    }
        
                    input[type=text], input[type=password]{
                        width: 100%;
                        &::placeholder{
                            opacity: 1;
                        }
                    }
        
                    #lbl_hobby, #lbl_gender{
                        display: inline-block;
                    }
        
                    #comments{
                        width: 100%;
                        padding: 10px;
                    }
        
                    .hobbyTxt, .genderTxt{
                        font: 12px/1 'Georama';
                        color: #efefef;
                        margin-top: 10px;
                        display: none;
                    }

                    #address{
                        width: 100px;
                    }

                    #lbl_agree{
                        display: inline-block;
                    }
                    
                }
            }
    
            .btn_area{
                width: 100%;
                margin: 0 auto;
                text-align: center;
    
                input[type=submit], input[type=reset]{
                    display: inline-block;
                    width: 150px;
                    height: 40px;
                    border: none;
                    background-color: #fff;
                    font: bold 14px/40px 'Georama';
                    color: #111; 
                    margin: 0 10px;
                    cursor: pointer;
                    border: 1px solid #aaa;
                    transition: all 0.4s;
    
                    &:hover{
                        color: #fff;
                        background: #111;
                    }
                }
            }
        }
    }
}

/*mobile --------------------------------------------------*/
@media screen and (max-width:$mobile) {
    .join{
        .inner{
            fieldset{
                table{
                    td{
                        padding: 10px;

                        label{
                            display: inline-block;
                        }
                    }
        
                    input[type=text], input[type=password]{
                        &::placeholder{
                            opacity: 0;
                        }
                    }

                    #address{
                        width: 70px;
                        &:nth-child(2){
                            display: none;
                        }
                    }
                }
            }
    
            .btn_area{
    
                input[type=submit], input[type=reset]{
                    width: 120px;
                }
            }
        }
    }
}
