@charset "utf-8";

.join{
    padding-top: 0px;
    #map{
        width: 100%;
        height: 500px;
        position: relative;
        filter: grayscale(1);

        .map_txtbox{
            z-index: 10;
            position: absolute;
            width: 250px; height: 100%;
            top: 0; left: 9%;
            background-color: #111;
            padding: 30px;
            text-align: center;
            color: #fff;
            letter-spacing: 3px;
            h2{
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 20px;
            }
            p{
                font-size: 13px;
                margin-bottom: 30px;
                line-height: 1.3;
            }
            h3{
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}



.branch{
    float: right;
    margin-top: 20px;

    li{
        float: left;
        margin-right: 10px;

        a{
            display: block;
            width: 200px;
            height: 40px;
            background: #555;
            font: bold 12px/40px '맑은 고딕';
            color: #fff;
            text-align: center;
        }

        &.on{
            a{
                background: #aaa;
                color: #333;
            }
        }
    }
}

.traffic{
    float: left;
    margin-top: 20px;

    li{
        float: left;
        margin-right: 10px;

        a{
            display: block;
            width: 200px;
            height: 40px;
            background: #555;
            font: bold 12px/40px "맑은 고딕";
            color: #fff;
            text-align: center;
        }

        &.on{
            a{
                background: #aaa;
                color: #333;
            }
        }
    }
}