@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Libre+Caslon+Text&display=swap');


.values{
    width: 100%;
    background-image: url(../img/member_banner.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .values_text{
            width: 100%;
            >h2{
                font: bold 50px/1 'Fraunces';
                letter-spacing: 1px; color: #BE8464;
                text-align: center;
            }
        }
    }
}

.values_list{
    width: 100%;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .list_txt{
            position: absolute;
            width: 30%;
            top: 0; left: 0;
            

            h3{
                font: bold 35px/1.4 'Gilda Display';
            }
        }

        .wrap{
            width: 82%;
            margin-left: auto;
            &::after{
                content: ''; display: block; clear: both;
            }
            
            article{
                float: left;
                width: 27%;
                margin-right: 6%;
                margin-bottom: 10%;
                border-top: 1px solid #BE8464;

                &:first-child{
                    opacity: 0;
                }

                .num{
                    margin: 25px 0;
                    font: normal 15px/1 'Heebo';
                }
                .list_title{
                    margin-bottom: 30px;
                    letter-spacing: 2px;
                    h3{
                    font: bold 30px/1.3 'Georama';
                    }
                }
            }
        }
    }
}

.people{
    width: 100%;
    padding-top: 50px;
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .people_text{
            width: 100%;
            h1{
                font: bold 40px/1 'Gilda Display';
                margin-bottom: 30px; color: #BE8464;
            }
            >p{
                width: 40%;
                font: 17px/1.4 'Georama';
            }
        }

        .people_photo{
            width: 100%;
            position: relative;
            padding-top: 70px;
            
            
            &::after{
                content: ''; display: block; clear: both;
            }

            article{
                float: left;
                width: 30%; margin-right: 3%;
                margin-bottom: 5%;
                transition: all .5s;

                .img_wrap{
                    width: 350px; height: 530px;
                    margin-bottom: 20px;
                    img{
                        width: 100%; height: 100%;
                    }
                }

                h4{
                    font: normal 25px/1 'Gilda Display';
                    margin-bottom: 5px;
                }

                .title{
                    margin-bottom: 5px;
                }

                &:hover h4{
                    font-weight: bold;
                }
            }

            &:hover article:not(:hover){
                filter: grayscale(1);

                img{
                    filter: grayscale(0);
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    .values{
        padding: 30px;
        .inner{
            width: 100%;
            .values_text{
                width: 100%;
            }
        }
    }
    
    .values_list{
        width: 100%;
        padding: 30px;
        .inner{
            width: 100%;
    
            .list_txt{
                display: none;
            }
    
            .wrap{
                width: 100%;
                
                article{
                    width: 30%;
                    margin-right: 3%;
    
                    .list_title{
                        margin-bottom: 20px;
                        h3{
                            font-size: 18px;
                        }
                    }
                    .list_comment{
                        display: none;
                    }
                }
            }
        }
    }
    
    .people{
        padding: 30px;
        .inner{
            width: 100%;
    
            .people_text{
                width: 100%;
                >p{
                    width: 100%;
                }
            }
    
            .people_photo{
                article{
                    float: left;
                    width: 45%; margin-right: 4%;
    
                    .img_wrap{
                        width: 100%; height: 300px;
                    }
    
                    h4{
                        font-size: 20px;
                    }

                    .title{
                        font-size: 12px;
                    }
                    .location{
                        font-size: 10px;
                    }
                }
    
                &:hover article:not(:hover){
                    filter: grayscale(1);
    
                    img{
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$mobile) {

}